@import '../../styles/variables';

.map {
  position: relative;
  height: 100%;
}

.appWrapper {
  height: 100vh;
}

.controlWrapper {
  height: 100%;
  padding: 15px;
  position: fixed;
  top: 0;
  left: 0;
}
